{% extends "core/base.html" %}
{% block content %}
{% load static %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container" id="cart-container">
    {% if not data %}
    <h2 class="text-center">Ваша корзина пуста</h2>
    {% else %}
      <h2 class="cart-title">Корзина</h2>
      <strong class="items-in-cart">Товары в корзине: {{ totalcartitems }}</strong>
      <input type="hidden" id="cart-item-amount" value="">
      <div class="cart">
        <div class="row">
          <div class="col-10 col-md-9">
          <table class="cart__table">
          <thead class="cart__header">
            <tr>
            <th>Product</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            <th>Обновить</th>
            <th>Удалить</th>
          </tr>
          </thead>
          <tbody class="cart__body">
            {% for product_id, item in data.items %}
          <tr id="{{ item.pid }}">
            <td class="cart__product-img">
              <img src="{{ item.img }}" alt="">
            </td>
            <td class="cart__product-title">
              <h6><a href="{% url 'core:product_detail' item.pid %}">{{ item.title }}</a></h6>
            </td>
            <td class="cart__product-price">
              <strong>{{ item.price|floatformat:2 }}</strong>
            </td>
           {% if item.pid in small_stock %}
            <td class="cart__item-quantity">
              <input disabled id="product-qty-{{ item.pid }}" type="number" value="{{ item.quantity }}">
            </td>
            {% else %}
            <td class="cart__item-quantity">
              <input id="product-qty-{{ item.pid }}" type="number" value="{{ item.quantity }}">
            </td>
           {% endif %}
            <td class="cart__subtotal-price">
              <h4 id="subtotal-price-{{ item.pid }}" class="text-brand">{% widthratio item.price 1 item.quantity %}</h4>
            </td>
            <td class="action" data-title="refresh">
              <button class="update-cart-product" data-product="{{ item.pid }}"><i class="fas fa-refresh"></i></button>
            </td>
            <td class="action" data-title="remove">
              <button class="delete-cart-product" data-product="{{ item.pid }}"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
          </div>

          <div class="col-12 col-md-3">
            <div class="cart-total-price">
              <p class="product-amount">
                <span class="product-amount-span-1">Товары({{ totalcartitems }}): </span>
                <span class="product-amount-span-2">{{ cart_total_amount|floatformat:2 }}</span>
              </p>
              <p class="cart-total-amount">
                <span>Итого: </span><span class="cart-total-amount-span-1">{{ cart_total_amount|floatformat:2 }}</span>
              </p>
              <a class="cart-total-btn" href="{% url 'core:checkout_cart' %}">Перейти к оформлению</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
</main>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}