{% extends "core/base.html" %}
{% block content %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container">
     <div class="row">
      {% for category in categories %}
      <div class="col-12 col-md-4">
          <div class="category-card">
            <div class="category-img-wrapper">
            <a href="#">
              <img class="category-img" src="{{ category.image.url }}" alt="Category Img">
            </a>
          </div>
          <h4 class="category-title">
            <a href="#">{{ category.title }}</a>
          </h4>
          <span class="category-count">Количество товар: {{ category.category.count }}шт</span>
          </div>
      </div>
      {% endfor %}
     </div>
  </div>
</main>
{% endblock %}