{% extends "core/base.html" %}
{% block content %}
{% load static %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-12 col-md-3">
        <div class="product-card">
          <div class="product-card-header">
            {% if request.user.is_authenticated %}
          <button class="add-to-wishlist" data-product-item="{{ product.pid }}">
            {% if product.pid in wish_id %}
            <span style="color: red;" class="wish-btn">&hearts;</span>
            {% else %}
            <span class="wish-btn">&#9825;</span>
            {% endif %}
            </button>
            {% else %}
            <a class="add-to-wishlist" style="text-decoration: none; color: #333;" href="{% url 'userauths:login' %}">
              &#9825;
            </a>
            {% endif %}
          </div>

          <div class="product-card-body">
            <div class="product-card-image">
              <a href="{% url 'core:product_detail' product.pid %}">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
              </a>
            </div>
            <div class="product-card-info">
              <p class="product-cat-title">{{ product.category.title }}</p>
              <h4 class="product-card-title">
                <a href="{% url 'core:product_detail' product.pid %}">{{ product.title }}</a>
              </h4>
              <p class="product-card-rating">⭐⭐⭐⭐☆</p>
              <p class="product-card-vendor">{{ product.vendor.title }} <span><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/></svg></span></p>
            </div>
          </div>

          <div class="product-card-footer">
            <div class="product-price">
              {% if product.old_price %}
              <span id="current-product-price" class="price current-product-price-{{ product.pid }}">{{ product.price }}</span>
              <span class="old_price">{{ product.old_price }}</span>
              <span class="percent">-{{ product.get_percentage }}%</span>
              {% else %}
              <span id="current-product-price" class="price current-product-price-{{ product.pid }}">{{ product.price }}</span>
              {% endif %}
            </div>
            <div class="add-cart-btn-wrapper">
              <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ product.pid }}">
              <input type="hidden" class="product-pid-{{ product.pid }}" value="{{ product.pid }}">
              <input type="hidden" class="product-id-{{ product.pid }}" value="{{ product.pid }}">
              <input type="hidden" class="product-img-{{ product.pid }}" value="{{ product.image.url }}">
              <input type="hidden" class="product-title-{{ product.pid }}" value="{{ product.title }}">
              {% if request.user.is_authenticated %}
              <button id="add-to-cart-btn" data-index="{{ product.pid }}" class="add-cart-btn add-to-cart-btn">
                {% if product.pid in sessions %}
            Добавлено в корзину
            {% else %}
            Добавить в корзину
            {% endif %}
              </button>
              {% else %}
              <a class="btn btn-primary" href="{% url 'userauths:login' %}">
                Добавить в корзину
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
<script src="{% static 'js/product-list.js' %}"></script>
{% endblock %}