{% extends "core/base.html" %}
{% block content %}
{% load static %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="product-detail-left">
          <div class="main-img-wrapper">
            <img class="big-img" src="{{ product.image.url }}" alt="{{ product.title }}">
          </div>
          <div class="product-other-imgs">
            {% for img in images %}
            <img class="small-img" src="{{ img.images.url }}" alt="">
            {% endfor %}
          </div> 
        </div>
      </div>

    <div class="col-12 col-md-5">
      <div class="product-detail-center">
        <p class="price-wrapper">
          {% if product.old_price %}
              <span id="current-product-price" class="price">{{ product.price }}</span>
              <span class="old_price">{{ product.old_price }}</span>
              <span class="percent">-{{ product.get_percentage }}%</span>
              {% else %}
              <span id="current-product-price" class="price">{{ product.price }}</span>
              {% endif %}
        </p>
        <p class="product-title">{{ product.title }}</p>
        <div class="wrapper">
          {% if product.stock_count == "1" %}
          <input disabled type="number" value="1" name="" id="product-quantity">
          {% else %}
          <input type="number" value="1" name="" id="product-quantity">
          {% endif %}
          <input type="hidden" value="{{ product.pid }}" id="product-id">
          <input type="hidden" value="{{ product.pid }}" id="product-pid">
          <input type="hidden" value="{{ product.title }}" id="product-title">
          <input type="hidden" value="{{ product.image.url }}" id="product-img">

          {% if request.user.is_authenticated %}
          <button type="submit" id="add-to-cart-btn" class="add-to-cart-btn btn btn-success">
            {% if product.pid in sessions %}
            Добавлено в корзину
            {% else %}
            Добавить в корзину
            {% endif %}
          </button>
          {% else %}
          <a class="btn btn-primary" href="{% url 'userauths:login' %}">
            Добавить в корзину
          </a>
          {% endif %}

          {% if request.user.is_authenticated %}
          <button class="add-to-wishlist" data-product-item="{{ product.pid }}">
            {% if product.pid in wish_id %}
            <span style="color: red;" class="wish-btn">&hearts;</span>
            {% else %}
            <span class="wish-btn">&#9825;</span>
            {% endif %}
            </button>
            {% else %}
            <a class="add-to-wishlist" style="text-decoration: none; color: #333;" href="{% url 'userauths:login' %}">
              &#9825;
            </a>
            {% endif %}
        </div>
        <p class="stock"><span>В наличии:</span> {{ product.stock_count }}шт</p>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <div class="card-body">
          <p class="address-text">
            {% if address.address %}
            <strong>Ваш адрес:</strong> {{ address.address }}
            <br>
            <hr>
            <a class="btn btn-info" href="#">Изменить адрес</a>
            {% else %}
            <strong>Адрес не указан</strong>
            <br>
            <hr>
            <a class="btn btn-success" href="#">Указать адрес</a>
            {% endif %}
          </p>
        </div>
      </div>

      <br>
      <div class="card card-body">
        <div class="return-guarantee-card">
        <strong>Возврат & гарантия:</strong>
        <p class="return-text">Возврат в течение {{ product.vendor.days_return }} дней</p>
        <p class="warrany-text">Гарантия {{ product.vendor.guarantee_period }} месяцев</p>
      </div>
      </div>
      <br>
      <div class="vendor-card">
        <div class="vendor-card-body">
          <div class="vendor-info">
            <h3 class="vendor-title">{{ product.vendor.title }}</h3>
            <span class="vendor-rating">⭐⭐⭐⭐☆</span>
            <br>
            <p class="vendor-address"><strong>{{ product.vendor.address }}</strong></p>
            <a class="vendor-phone" href="tel:{{ product.vendor.contact }}">Телефон</a>
          </div>
        </div>
        <br>
        <div class="vendor-card-footer">
          <a class="cendor-site" href="#">Посетите сайт</a>
          <br>
        </div>
        <br>
        <strong>Хотите стать продавцом?</strong>
        <br>
        <br>
        <a class="btn btn-info" href="#">Зарегистрируйтесь сейчас</a>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="product-tab tab">
        <div class="tab__header">
          <ul class="tab__list">
            <li data-tab="tab-1" class="tab__item border--bottom">Описание</li>
            <li data-tab="tab-2" class="tab__item">характеристика</li>
            <li data-tab="tab-3" class="tab__item">Отзывы <span id="reviews-count">{{ reviews.count }}</span></li>
          </ul>
        </div>

        <div class="tab__body">
          <div id="tab-1" class="tab__content">
            <p class="describe-text">
              {{ product.description }}
            </p>
          </div>
          <div id="tab-2" class="tab__content tab--hidden">
            <p class="specification-text">{{ product.specification }}</p>
          </div>
          <div id="tab-3" class="tab__content tab--hidden">
            {% if request.user.is_authenticated %}
            <button class="btn btn-primary review-btn">Оставить отзыв</button>
            {% else %}
            <a class="btn btn-primary" href="{% url 'userauths:login' %}">Оставить отзыв</a>
            {% endif %}
            <strong id="review-response"></strong>
            <div class="review-form-wrapper">
              <hr>
              <form class="review-form" action="{% url 'core:add_review' product.pid %}" id="review-form" method="POST">
                {% csrf_token %}
                {{ review_form }}
                <hr>
                <button type="submit" class="btn btn-success review-submit">Сохранить</button>
              </form>
            </div>

            <hr>
            <br>
            <ul class="review-menu">
              {% if reviews.count %}
              <h5 id="average-rating">
                Средний рейтинг продукта: {{ average_rating.rating|floatformat:1 }}
                {% for star in stars_count|ljust:stars_count %}
                  <i class="fas fa-star text-warning"></i>
                  {% endfor %}
              </h5>
              <hr>
              {% for review in reviews %}
              <li class="review-item">
                <h5 class="user-name">{{ review.user.username }}</h5>
                <p class="rating-date">
                  <span>{{ review.date|date:"d.m.Y" }}</span>
                  {% for star in review.rating|ljust:review.rating %}
                  <i class="fas fa-star text-warning"></i>
                  {% endfor %}
                </p>
                <p class="review-self">{{ review.review }}</p>
              </li>
              {% endfor %}
              {% else %}
              <h4 class="text-center">Отзывов пока нет</h4>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<script src="{% static 'js/product-detail.js' %}"></script>
{% endblock %}