{% extends "core/base.html" %}
{% block content %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Изменение пароля</h2>
          </div>
          <div class="card-body">
            <form class="change-password" action="" method="POST">
              {% csrf_token %}
              <div class="old-password">
                <label for="old-password">Старый пароль</label>
                <input class="form-control input" type="password" name="old-password" id="old-password">
              </div>

              <div class="new-password">
                <label for="new-password">Новый пароль</label>
                <input class="form-control input" type="password" name="new-password" id="new-password">
              </div>

              <div class="confirm-new-password">
                <label for="confirm-new-password">Подтвердите пароль</label>
                <input class="form-control input" type="password" name="confirm-new-password" id="confirm-new-password">
              </div>

              <div class="card-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}