{% extends "core/base.html" %}
{% block content %}
{% load static %}
{% include "core/navbar.html" %}
<main class="main">
  <div class="container">
    <div class="customer-dashboard">
      <div class="dashboard">
          <div class="row">
          <div class="col-12 col-md-3">
            <ul class="dashboard__menu">
              <li data-tab="tab-1" class="dashboard__item active-item">Профиль</li>
              <li data-tab="tab-2" class="dashboard__item">Мои Заказы</li>
              <li data-tab="tab-3" class="dashboard__item">Мой адрес</li>
              <li data-tab="tab-4" class="dashboard__item">Аккаунт</li>
              {% if request.user.is_superuser %}
              <li class="dashboard__item">
                <a class="dashboard__link" href="/admin/">Панель администратора</a>
              </li>
              <li class="dashboard__item">
                <a class="dashboard__link" href="{% url 'useradmin:control_panel' %}">Панель управления</a>
              </li>
              {% endif %}
              <li class="dashboard__item">
                <a class="dashboard__link" href="{% url 'userauths:logout' %}">Выход</a>
              </li>
            </ul>
          </div>

          <div id="tab-1" class="col-12 col-md-9 dashboard__content">
            <div class="profile">
            <h3 class="profile__greet-text" data-username="{{ profile.user.first_name }}">
            </h3>
            <div class="profile__img">
              {% if profile.image %}
              <img src="{{ profile.image.url }}" alt="{{ profile.full_name }}">
              {% else %}
              <img src="{% static 'default-img/default-user-img.png' %}" alt="User Img">
              {% endif %}
            </div>
            <div class="profile__info">
              <span>Полное имя:</span>
              <h5 class="profile__hero">{{ profile.full_name }}</h5>
              <span>Email:</span>
              <h5 class="profile__email">{{ profile.user.email }}</h5>
              <span>Телефон:</span>
              <h5 class="profile__phone">{{ profile.phone|default:"Не указан" }}</h5>
            </div>
            </div>
            <a class="btn btn-primary" href="{% url 'userauths:profile_update' %}">
              Редактировать
            </a>
          </div>

          <div id="tab-2" class="col-12 col-md-9 dashboard__content customer-profile--hidden">
            {% if orders %}
            <div class="customer-orders">
              <table>
                <thead>
                  <tr>
                    <th>Номер</th>
                    <th>Сумма</th>
                    <th>Оплаченный</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Подробнее</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>{{ order.oid }}</td>
                    <td>{{ order.price }}</td>
                    <td>
                      {% if order.paid_status == True %}
                      <i style="color: green; font-weight: bold;" class="fa fa-check"></i>
                      {% else %}
                      <i style="color: red; font-weight: bold;" class="fa-solid fa-x"></i>
                      {% endif %}
                    </td>
                    <td>{{ order.order_date|date:"d.m.Y" }}</td>
                    <td>{{ order.product_status }}</td>
                    <td>
                      <a href="{% url 'payment:checkout_success' order.oid %}">Подробнее</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            <h2 class="text-center">Нет заказов</h2>
            {% endif %}
          </div>

          <div id="tab-3" class="col-12 col-md-9 dashboard__content customer-profile--hidden">
            <form class="address-form" action="" method="POST">
              {% csrf_token %}
              <div class="card">
                <div class="card-header">
                  <h5>Добавить адрес</h5>
                </div>
                
                <div class="card-body">
                  <div>
                    <input class="form-control" type="text" name="address" placeholder="Введите адрес" required>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-success" type="submit">Сохранить</button>
                </div>
              </div>
            </form>
            <hr>

          <div class="address">
            {% if address %}
            {% for a in address %}
            <div class="address__wrapper">
                <h5>Адрес: {{ forloop.counter }}</h5>
                <hr>
                <p class="address__text">{{ a.address }}</p>
                <hr>
                <div class="address__btns">
                  {% if a.status %}
                  <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success"></i>
                  {% else %}
                  <input class="address-name-{{ a.id }}" type="hidden" data-address-name="{{ a.address }}">
                  <button data-address-id="{{ a.id }}" class="btn btn-success make-default-address">
                    Установить по умолчанию
                  </button>
                  <hr>
                  <a class="btn btn-danger" href="{% url 'userauths:delete_address' a.id %}">
                    Удалить адрес
                  </a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>

          <div id="tab-4" class="col-12 col-md-9 dashboard__content customer-profile--hidden">
            <div class="account">
              <div class="account__inner">
                <span>username</span>
                <h6>{{ user.username }}</h6>
              </div>

              <div class="account__inner">
                <span>фамилия</span>
                <h6>{{ user.last_name }}</h6>
              </div>

              <div class="account__inner">
                <span>имя</span>
                <h6>{{ user.first_name }}</h6>
              </div>

              <div class="account__inner">
                <span>email</span>
                <h6>{{ user.email }}</h6>
              </div>

              <div class="account__btns">
                <a class="btn btn-success" href="{% url 'userauths:account_edit' user.id %}">Редактировать</a>

                <a class="btn btn-primary" href="{% url 'userauths:change_password' %}">
                  Изменить пароль
                </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
<script src="{% static 'js/customer.js' %}"></script>
{% endblock %}