.category-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom:20px;
  padding: 4px;
  box-shadow: 50px 35px 100px 29px rgba(34, 60, 80, 0.39);
  transition: all 0.9s;
}

.category-card:hover {
  scale: 1.1;
  border-color: red;
}

.category-img-wrapper {
  width: 100%;
  margin-bottom: 18px;
}

.category-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.category-title {
  text-align: center;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: #028FE1;
  }
}

.category-count {
    font-weight: bold;
  }